body {
    background-color: #00204a;
    margin: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: white;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 0px;
    color: black;
    text-shadow: 2px 2px 2px #ffcdab;
    font-family: 'Merienda One', cursive;
}

h2,
h3 {
    color: cyan;
}

hr {
    border-color: grey;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 20%;
}

.img {
    border-radius: 30%;
}

.background-top {
    position: relative;
    display: inline;
    margin: 0;
}

.top-p {
    display: inline;
    font-size: 2.5rem;
    position: absolute;
    top: 100px;
    left: 20px;
    color: greenyellow;
    font-weight: normal;
}

.read-more {
    position: absolute;
    top: 540px;
    left: 720px;
}

.top-container {
    padding-top: 0;
    position: relative;
}

.skill-row {
    margin-top: 60px;
    margin-bottom: 100px;
}

.bottom-container {
    position: relative;
    top: 50px;
    background-color: darkslategray;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

.bottom-container a {
    margin-left: 20px;
    color: goldenrod;
    text-decoration: none;
}

.bottom-container a:hover {
    color: rgb(22, 234, 241);
}

.main-logo {
    padding: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 30px;
    top: 1px;
}

.contact-me a {
    background-color: blue;
    color: aquamarine;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 15%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px chartreuse;
}

.contact-me a:hover {
    border: 2px solid rgb(22, 119, 209);
    background-image: linear-gradient(green, #0f2c7e, purple);
    animation: all 1.0s ease-in;
}

.job-exp {
    color: orange;
}

.img1 {
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 30%;
}

.img2 {
    margin-left: 10px;
    border-radius: 30%;
}

.img3 {
    margin-right: 70px;
    border-radius: 30%;
}

.red-width {
    width: 80%;
}

.copyright {
    font-size: 1.0rem;
    padding: 10px 0;
}